@page "/fetchdata"
@using C1.Chart;
@using C1.Blazor.Chart;

<PageTitle>Weather forecast</PageTitle>
@*
@using ChartTest.Data
@inject WeatherForecastService ForecastService*@

@*<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FlexChart ItemsSource="forecasts" BindingX="Date">
        <SeriesCollection>
            <Series Binding="TemperatureC" />
        </SeriesCollection>
    </FlexChart>
}*@

@*@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
*@