@page "/pictures"
@using BlazorApp1.Models
@using BlazorApp1.Services
@using System.Web;
@using System.IO;
@using System.Drawing;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits OwningComponentBase<DeviceService>


<h3>Pictures</h3>
<AuthorizeView>

    <NotAuthorized>
        <p> Youre Not Logged in</p>
    </NotAuthorized>

    <Authorized>
        @if(devices == null)

        {
             <p><em>Loading...</em></p>
        }

        else{
        <h4>Hello, @context.User.Identity.Name?!</h4>
        @*<label for="Sdevices">Choose a device:</label>*@


        <select name ="Sdevices" id="deviceSelect">
            
            @foreach (var device in devices){
                <option value= device.Name> @device.Name </option>
            }


        </select>
        <body>
            <img src = @picData alt= "Palencar">
                      @*<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
        //8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />*@
        </body>



      
        }

    </Authorized>

</AuthorizeView>
@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    List<Device> devices = new List<Device>();
    private string UserIdentityName = "";
    string picData = "data:image/jpg;base64,";
    //returns all devices related to  that username

    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;

            if (user.Identity != null)
            {
                UserIdentityName = user.Identity.Name ?? "";
            }

        }
        devices = await Service.GetDevicesAsync(UserIdentityName);
        picData += Service.GetPictureDbAsync(1).ToString()+"alt = \"Palencar\"";
    }


    public Image GetPicture()
    {
        //get image from db
        
        picData = "data:image/jpeg;base64," + Service.GetPictureDbAsync(1).ToString()+ "alt = \"Palencar\"";
        //base 64 conversion using byte array
        byte[] imageBytes = Convert.FromBase64String(picData);
        MemoryStream ms = new MemoryStream(imageBytes, 0,
             imageBytes.Length);
          // Convert byte[] to Image
        ms.Write(imageBytes, 0, imageBytes.Length);
        Image image = Image.FromStream(ms, true);
        return image;
}


       

      
    }
    

}
